body {
    background-color: rgb(130, 10, 209);
    color: white;
    font-size: 1.5rem;
  }
  h1 {
    margin-top: 10rem;
    margin-bottom: 0px;
  }
  .lead {
    font-size: 2rem;
  }

  ul {
    list-style: none;
    border-top: 2px solid white;
  }
  
  li {
    border-bottom: 1px solid white;
  }

  input[type=text] {
    margin-bottom: 2rem;
  }
  input[type=checkbox], svg {
    float: right;
    margin-right: 2rem;
  }