{% extends 'base.html' %}

{% block title %}
    Todo List
{% endblock title %}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex" action="{{ url_for('add') }}" method="post">
        <input class="form-control me-2" type="text" placeholder="Add Todo" aria-label="add" name="description">
        <button class="btn btn-outline-success" type="submit">Add</button>
      </form>
    </div>
</nav>
<table class="table table-striped"">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Finished</th>
      </tr>
    </thead>
    <tbody>
        {% for todo in todos %}
        <tr>
            <td>{{ todo.description }}</td>
            <td>{{ todo.finished }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}